/* General Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px 'Roboto';
    color: #555555;
}

img {
    width: 200px;
}

ul,nav{
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: black;
}

a:hover{
    opacity: 1;
}

.grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

hr{
    width: 250px;
    height: 3px;
    background-color: #3f51bf;
    border: 0;
    margin-bottom: 50px;
}

section:not(.profile):nth-child(even){
    background-color: #f5f5ff;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

section h3 .title{
    text-transform: capitalize;
    font: bold 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px){
    section{
        padding: 50px 20px;
    }
}

/* header section */

.header{
    position: relative;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    color: black;
}
.header-content div{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/* Animation of circle1 */
 .circle1{
  top:0;
  left:0px;
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1abc9c;
}

.outer1{
  position: absolute;
  width:400px;
  height: 400px;
  animation: spin 2s cubic-bezier(.79, .41, .0, 1.01) 0s infinite;
}

/* Animation of circle2 */
.circle2{
 top:0;
 left:0px;
 width:30px;
 height: 30px;
 border-radius: 50%;
 background-color: #1abc9c;
}

.outer2{
 position: absolute;
 width:400px;
 height: 400px;
 animation: spin 2s cubic-bezier(.79, .41, .0, 1.01) 0.05s infinite;
}

/* Animation of circle3 */
.circle3{
 top:0;
 left:0px;
 width:20px;
 height: 20px;
 border-radius: 50%;
 background-color: #1abc9c;
}

.outer3{
 position: absolute;
 width:400px;
 height: 400px;
 animation: spin 2s cubic-bezier(.79, .41, .02, 1.01) 0.1s infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .circle1{
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1abc9c;
  }
  .circle2{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1abc9c;
  }
  .circle3{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1abc9c;
  }
  .outer1, .outer2, .outer3 {
    position: absolute;
    width:250px;
    height: 250px;
  }
  .outer1{
      animation: spin 2s cubic-bezier(.79, .41, .02, 1.01) 0s infinite;
  }
  .outer2{
      animation: spin 2s cubic-bezier(.79, .41, .02, 1.01) 0.05s infinite;
  }
  .outer3{
      animation: spin 2s cubic-bezier(.79, .41, .02, 1.01) 0.1s infinite;
  }
}

/* Animation of header-content */
.header-content .code {
  animation-name:showup;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}
.header-content .Design {
  width:0px;
  animation-name: reveal;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

.header-content .Design span {
  margin-left:-205px;
  animation-name: slidein;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal{
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:205px;}
    100% {opacity:1;width:205px;}
}

.header h1{
    font-size: 60px;
    font-weight:bold;
    font-family:'Roboto';
    margin-bottom: 15px;
}

.header h3{
    font-size: 28px;
    font-weight: normal;
    font-family:'Roboto';
    margin-bottom: 40px;
}

 .header-content{
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

 @keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px){
    .header{
        min-height: 100vh;
    }
    .header h1{
        font-size: 48px;
    }
    .header h3{
        font-size: 24px;
    }

    .header-content .Design span {
      margin-left:-175px;
      animation-name: slidein;
      animation-duration: 7s;
      animation-fill-mode: forwards;
    }
    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:175px;}
        100% {opacity:1;width:175px;}
    }


}

/* profile section */
.title {
    font-size:48px;
}
.profile .grid li{
    height: 350px;
    padding: 40px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;

}

img{
    border-radius: 100px;
}

li{
  text-align: center;
}

li:hover {
  transition-duration:1s;
  transform:scale(1.25);
  opacity:0.5;
}


/* footer section */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: #fff;
    padding: 20px 0;
}

footer ul{
    display: flex;
}

footer ul li{
    margin-left: 16px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

@media (max-width: 1100px){
    footer{
        flex-direction: column;
    }
    footer p{
        text-align: center;
        margin-bottom: 20px;
    }
    footer ul li{
        margin: 0 8px;
    }
}
